@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: Inter-Fade;
    src: url(../public/fonts/interfade/InterFade.ttf);
}

h1{
    font-family: Inter-Fade;
}
